datacenter = {{ nomad_dc_name }}
data_dir = "/var/lib/nomad"
log_level = "DEBUG"
server {
  enabled = true
  bootstrap_expect = 3
}

server_join {
    retry_join = [
{% for host in groups['consul-server'] %}
  {% if hostvars[host]['inventory_hostname'] != inventory_hostname %}
        "{{ hostvars[host]['ansible_default_ipv4']['address'] }}:4647",
  {% endif %}
{% endfor %}
    ]
}

plugin "raw_exec" {
  config {
    enabled = true
  }
}


acl {
  enabled = true
}

telemetry {
  collection_interval = "10s"
  disable_hostname = true
  prometheus_metrics = true
  publish_allocation_metrics = true
  publish_node_metrics = true
}
