build_on_aws      = true
aws_access_key    = ""
aws_secret_key    = ""
aws_region        = "eu-central-1"
aws_instance_type = "t3.small"
linux_os          = "ubuntu"
linux_os_version  = "2104"
linux_os_family   = "debian"
ssh_username      = "ubuntu"
