build_on_azure              = true
azure_subscription_id       = "YOUR-SUBSCRIPTION-ID"
azure_target_resource_group = "YOUR-RESOURCE-GROUP"
azure_client_id             = "YOUR-AZURE-CLIENT-ID"
azure_client_secret         = "YOUR-AZURE-CLIENT-SECRET"
linux_os                    = "ubuntu"
linux_os_version            = "2104"
linux_os_family             = "debian"
ssh_username                = "ubuntu"
