build_on_google             = true
build_image_name            = "caravan-centos-image"
google_project_id           = "YOUR-PROJECT-ID"
google_account_file         = "YOUR-JSON-KEY"
google_network_name         = "caravan-gcp-vpc"
google_subnetwork_name      = "caravan-gcp-subnet"
