build_on_google         = true
google_project_id       = "YOUR-PROJECT-ID"
google_account_file     = "YOUR-JSON-KEY"
google_network_name     = "caravan-gcp-vpc"
google_subnetwork_name  = "caravan-gcp-subnet"
linux_os                = "ubuntu"
linux_os_version        = "2204"
linux_os_family         = "debian"
ssh_username            = "ubuntu"
