[Unit]
Description="HashiCorp Consul - A service mesh solution"
Documentation=https://www.consul.io/
Requires=network-online.target
After=network-online.target
ConditionFileNotEmpty=/etc/consul.d/consul-esm.hcl

[Service]
Type=notify
User=consul
Group=consul
ExecStart=/usr/local/bin/consul-esm
ExecReload=/usr/local/bin/consul-esm reload
ExecStop=/usr/local/bin/consul-esm leave
KillMode=process
Restart=on-failure
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target